{% extends 'base.html' %}

{% block title %}
    {{ photo.tag.name|title }}
{% endblock %}

{% block body %}

    {% include "navbar.html" %}

    <div class="container" style="padding: 30px 0;">
        <div class="row mt-5">
            <div class="col-6">
                <a class="mx-auto" href="{{ photo.image.url }}">
                    <div style="width: 648px; height: 648px;">
                        <img src="{{ photo.full_image.url }}" alt="{{ photo.tag }}"
                             style="width: 648px; height: 648px; object-fit: cover;"/>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <div>
                    <div class="fs-3">{{ photo.created_at }}</div>
                    <div>
                        {% if photo.match %}
                            <div class="alert alert-success" role="alert" style="width:25%">
                                Match
                            </div>
                        {% else %}
                            <div class="alert alert-danger" role="alert" style="width:25%">
                                Don't match
                            </div>
                        {% endif %}
                    </div>
                    <div>
                        <form method="POST" class="w-50" href="{% url 'photosii:photo_view' id=photo.id %}"><input name="match"
                                                                                                          value="False"
                                                                                                          type="hidden"/>
                                {% csrf_token %}
                                <button type="submit" class="btn w-100" style="background-color: #a04de5; color: white;">Don't match</button>
                            </form>
                            <form method="POST" class="w-50 mt-2" href="{% url 'photosii:photo_view' id=photo.id %}"><input name="match"
                                                                                                          value="True"
                                                                                                          type="hidden"/>
                                {% csrf_token %}
                                <button type="submit" class="btn w-100" style="background-color: #30d5c8; color: white;">Match</button>
                            </form>
                        <form method="POST" class="w-50 mt-3" action="{% url 'photosii:photo_delete' id=photo.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-light border w-100">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}