{% extends 'base.html' %}

{% block title %}
{{ photo.tag.name|title }}
{% endblock %}

{% block body %}

{% include "navbar.html" %}
<div class="bg-dark pt-3" style="height: 100vh;">
    <div class="container" style="padding: 30px 0;">
        <div class="row mt-5">
            <div class="col-7">
                <div style="border-radius: 21px 21px 21px 21px; overflow:hidden">
                    <a class="mx-auto" href="{{ photo.full_image.url }}">
                        <div>
                            <img src="{{ photo.full_image.url }}" alt="{{ photo.tag }}"
                                 style="width: 760px; height: 760px; object-fit: cover;"/>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-5">
                <div class="card" style="width: 100%; height:100%; border-radius: 21px 21px 21px 21px; overflow:hidden">
                    {% if photo.is_ai_tag %}
                    <div class="w-100 pt-3 bg-light text-center" style="height:50%">
                        {% if photo.match %}
                            <div class="display-5 fw-bold">Match</div><br>
                            {% else %}
                            <div class="display-5 fw-bold">Don't match</div><br>
                            {% endif %}
                        <div class="display-5 fw-bold" style="font-size:184px; margin-top:-60px;">{{ photo.score }}%</div>
                        <div class="m-auto alert alert-light shadow-sm" role="alert" style="width:80%">
                            <span class="fs-5 fw-bold" style="font-size:40px">{{ photo.tag.name }}</span>
                        </div>
                    </div>
                    {% endif %}
                    <div class="card-body w-75 m-auto text-center">
                        <div class="fs-3 mt-3">{{ photo.created_at | date:'d.m.y' }}</div>
                        <div>
                            <form method="POST" class="w-100 mt-4" href="{% url 'web:photo_view' id=photo.id %}"><input
                                    name="match"
                                    value="False"
                                    type="hidden"/>
                                {% csrf_token %}
                                <button type="submit" class="btn w-100 border shadow-lg">Don't match</button>
                            </form>
                            <form method="POST" class="w-100 mt-4" href="{% url 'web:photo_view' id=photo.id %}">
                                <input
                                        name="match"
                                        value="True"
                                        type="hidden"/>
                                {% csrf_token %}
                                <button type="submit" class="btn w-100 border shadow-lg">Match</button>
                            </form>
                            <form method="POST" class="w-100 mt-4"
                                  action="{% url 'web:photo_delete' id=photo.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-light border w-100">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}